.group-child74 {
  position: absolute;
  top: 720px;
  left: 324px;
  background-color: var(--color-cadetblue-200);
  width: 295px;
  height: 720px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.balance15,
.search15,
.transactions15 {
  position: absolute;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.transactions15 {
  top: 105px;
  left: 43px;
  color: var(--color-darkturquoise);
}
.balance15,
.search15 {
  top: 205px;
  left: 47px;
}
.search15 {
  top: 255px;
}
.group-child75,
.vectors-icon30,
.vectors-icon31 {
  position: absolute;
  top: 609px;
  left: 0;
  width: 1280px;
  height: 111px;
}
.group-child75,
.vectors-icon31 {
  top: 608px;
}
.group-child75 {
  top: 6.53px;
  border-radius: var(--br-4xl);
  background-color: var(--color-cadetblue-100);
  filter: blur(20px);
  width: 867px;
  height: 503.88px;
}
.group-child76,
.rectangle-parent40 {
  position: absolute;
  width: 867px;
  height: 516px;
}
.group-child76 {
  top: 0;
  left: 0;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
}
.rectangle-parent40 {
  top: 44px;
  left: 366px;
}
.rectangle-parent39 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
}
.start2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
