.group-child8 {
  position: absolute;
  top: 720px;
  left: 324px;
  background-color: var(--color-cadetblue-200);
  width: 295px;
  height: 720px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.transactions3 {
  position: absolute;
  top: 105px;
  left: 43px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.vectors-icon6 {
  position: absolute;
  top: 609px;
  left: 0;
  width: 1280px;
  height: 111px;
}
.search3 {
  position: absolute;
  top: 256px;
  left: 43px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-darkturquoise);
}
.vectors-icon7 {
  position: absolute;
  top: 608px;
  left: 0;
  width: 1280px;
  height: 111px;
}
.group-child10,
.group-child9 {
  position: absolute;
  left: 0;
  border-radius: var(--br-4xl);
  width: 867px;
}
.group-child9 {
  top: 6.53px;
  background-color: var(--color-cadetblue-100);
  filter: blur(20px);
  height: 503.88px;
}
.group-child10 {
  top: 0;
  background-color: var(--color-white);
  height: 516px;
}
.group-child11,
.rectangle-parent4 {
  position: absolute;
  top: 44px;
  left: 366px;
  width: 867px;
  height: 516px;
}
.group-child11 {
  top: 539px;
  left: 879px;
  background-color: var(--color-cadetblue-200);
  width: 478px;
  height: 475px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
}
.balance3,
.date3,
.month-history2,
.recent3,
.transaction-type3,
.week-history2 {
  position: absolute;
  top: 157px;
  left: 43px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.balance3,
.date3,
.month-history2,
.transaction-type3,
.week-history2 {
  top: 206px;
}
.date3,
.month-history2,
.transaction-type3,
.week-history2 {
  top: 103px;
  left: 445px;
}
.month-history2,
.transaction-type3,
.week-history2 {
  top: 206px;
}
.month-history2,
.transaction-type3 {
  top: 258px;
}
.transaction-type3 {
  top: 155px;
  color: var(--color-darkturquoise);
}
.test142 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
